<div class="ui raised no padding text segment container">
	<img class="ui fluid rounded image" src="/uploads/{{course.image}}">
	<div class="ui full padding">
		<h1 class="ui header">{{course.name}} <span class="subtext"><i class="calendar icon"></i>{{moment course.date 'DD/MM/YYYY, hh:mm'}}</span></h1>
		<p class="justified">{{{printText course.description}}}</p>
		<div class="ui relaxed divided list">
			<div class="item">
				<i class="large marker middle aligned icon"></i>
				<div class="content">
					<div class="header">Endereço</div>
					<div class="description">{{course.address}} </div>
				</div>
			</div>
			<div class="item">
				<i class="large hourglass half middle aligned icon"></i>
				<div class="content">
					<div class="header">Duração</div>
					<div class="description">{{course.duration}} horas</div>
				</div>
			</div>
			<div class="item">
				<i class="large dollar middle aligned icon"></i>
				<div class="content">
					<div class="header">Preço</div>
					<div class="description">{{formatCurrency course.price}} por pessoa </div>
				</div>
			</div>
		</div>
		<h3 class="ui horizontal header divider top margin">
			Reserve Agora
		</h3>
		<form action="/courses/{{course._id}}/reserve" method="POST" class="ui big equal width form">
			<div class="field">
				<label>Nome</label>
				<div class="ui input">
					<input required type="text" name="reserve[name]" placeholder="Fulano">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>Quantidade</label>
					<div class="ui left icon input">
						<input required type="text" name="reserve[quantity]" placeholder="Número de Pessoas">
						<i class="shop icon"></i>
					</div>
				</div>
				<div class="field">
					<label>E-mail</label>
					<div class="ui left icon input">
						<input required type="email" name="reserve[email]" placeholder="exemplo@gmail.com">
						<i class="user icon"></i>
					</div>
				</div>
			</div>
			<button class="ui big blue fluid button" type="submit">Reservar</button>
		</form>
	</div>
</div>
