<div class="ui homepage">
  <div class="ui vertical center aligned masthead segment">
    <div class="ui text container">
      <img class="ui image" src="/img/chapter-logo.jpeg" alt="UFMG STUDENT CHAPTER">
    </div>
  </div>
  <div class="ui vertical stripe justified segment container">
    <h3 class="ui horizontal header divider margin bottom">
      Quem Somos
    </h3>
    <p class="animation" data-animation="fade" data-animation-trigger="bottom" data-animation-duration="1s">
      O UFMG Student Chapter é uma filiação multidisciplinar da AIST, composta por 14 estudantes de dois grandes centros de excelência em educação no Brasil, a Universidade Federal de Minas Gerais (UFMG) e a Pontifícia Universidade Católica de Minas Gerais (PUC Minas). O grupo tem como objetivo permitir a participação de estudantes de graduação na Association for Iron & Steel Technology (AIST) de modo a promover a indústria siderúrgica brasileira, por meio do aporte de idéias e tecnológias apresentadas em competições e congressos, e a estreitar laços entre universidade e mercado de trabalho.
    </p>
    <p class="animation" data-animation="fade" data-animation-trigger="bottom" data-animation-duration="1s">
      O grupo permite a imersão de seus membros na indústria do aço, através da de competições, projetos e eventos incentivados pela AIST. Além disso, são promovidos cursos de capacitação periodicamente, visitas técnicas em diversas empresas do setor e participação no AISTech. O AISTech é o maior congresso do setor, ocorre nos Estados Unidos, e reúne inúmeras autoridades, empresas de renome mundial e as mais novas tecnológias relacionadas à indústria do aço e, portanto, tem papel fundamental na concretização dos objetivos do grupo e expansão de seus horizontes.
    </p>
    <p class="animation" data-animation="fade" data-animation-trigger="bottom" data-animation-duration="1s">
      Nos últimos anos, mais de 15 projetos de graduação foram apresentados no AISTech por membros do UFMG Student Chapter, sendo que dentre estes, 6 foram premiados por sua qualidade técnica. Para arrecadar os recursos necessários para permitir a participação do grupo neste congresso, diversas atividades são realizadas, como concretização de novas Parcerias, Crowd Funding, festivais nas universidades envolvidas e a oferta de cursos e palestras em áreas relacionadas as competências dos membros do Student Chapter. Estamos sempre à procura de novos parceiros que queiram nos ajudar a continuar a mostrar para o mundo o potencial Brasileiro.
    </p>
  </div>
  <div class="ui inverted vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column justified animation" data-animation="fade right" data-animation-trigger="bottom">
          <h3 class="ui inverted header">Missão</h3>
          <p>Facilitar a integração de jovens profissionais e de tecnologias no setor siderúrgico brasileiro, contribuindo para a acquisição de conhecimento técnico, fortalecimento de Networking e valorização de instituições de ensino brasileiras.</p>
        </div>
        <div class="eight wide center aligned column">
          <i class="orange massive student icon"></i>
        </div>
      </div>
      <div class="row ui big margin top">
        <div class="eight wide center aligned column">
          <i class="blue massive unhide icon"></i>
        </div>
        <div class="eight wide column justified animation" data-animation="fade left" data-animation-trigger="bottom">
          <h3 class="ui inverted header">Visão</h3>
          <p>Ser um mecanismo reconhecido através do qual engenheiros promissores têm a oportunidade de participar efetivamente da AIST.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment container">
    <div class="ui equal width stackable grid">
      <div class="center aligned row">
        <div class="column animation" data-animation="fade left" data-animation-trigger="bottom">
          <i class="huge purple lab icon"></i>
          <h3>Catalisar</h3>
          <p>Inspirados pelo Dr. Ronaldo Sampaio a sermos disruptivos e provocativos gerando mudanças na realidade que nos cerca.</p>
        </div>
        <div class="column animation" data-animation="fade top" data-animation-trigger="bottom">
          <i class="huge yellow star icon"></i>
          <h3>Excelência</h3>
          <p>Representa o zelo em relação a qualidade das soluções técnicas desenvolvidas.</p>
        </div>
        <div class="column animation" data-animation="fade right" data-animation-trigger="bottom">
          <i class="huge handshake icon"></i>
          <h3>Networking</h3>
          <p>Somos unidos por visões compartilhadas e trabalhamos em cooperação, permitindo que os objetivos possam ser alcançados.</p>
        </div>
      </div>
      <div class="center aligned row">
        <div class="column animation" data-animation="fade down" data-animation-trigger="bottom">
          <i class="huge teal diamond icon"></i>
          <h3>Transparência</h3>
          <p>Expressa respeito e gratidão por nossos colaboradores através da clareza e sinceridade de nossas ações.</p>
        </div>
        <div class="column animation" data-animation="fade down" data-animation-trigger="bottom">
          <i class="huge violet cubes icon"></i>
          <h3>Comprometimento</h3>
          <p>Prudência e sensatez em nossas atividades, pois somos responsáveis por nossos resultados.</p>
        </div>
      </div>
    </div>
    <h3 class="ui horizontal header divider margin top bottom">
      Chapter nos Últimos Anos
    </h3>
    <div class="ui center aligned grid container">
      <div class="row">
        <div class="eight wide column">
          <div class="ui two statistics">
            <div class="statistic animation" data-animation="fade down" data-animation-duration="1.5s" data-animation-trigger="bottom">
              <div class="value">
                <i class="red users icon"></i> 30+
              </div>
              <div class="label">
                Parceiros
              </div>
            </div>
            <div class="statistic animation" data-animation="fade down" data-animation-duration="1.9s" data-animation-trigger="bottom">
              <div class="value">
                <i class="teal laptop icon"></i> 20+
              </div>
              <div class="text label">
                Projetos <br> Apresentados
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui two statistics">
            <div class="statistic animation" data-animation="fade down" data-animation-duration="2.3s" data-animation-trigger="bottom">
              <div class="value">
                <i class="yellow trophy icon"></i> 15+
              </div>
              <div class="label">
                Premiações por Artigos
              </div>
            </div>
            <div class="statistic animation" data-animation="fade down" data-animation-duration="2.7s" data-animation-trigger="bottom">
              <div class="value">
                <i class="grey plane icon"></i> 120+
              </div>
              <div class="text label">
                Estudantes Levados <br> ao congresso
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical stripe segment">
    <div class="ui center aligned container">
      <h3 class="ui inverted horizontal header divider margin bottom">
        Últimos Cursos
      </h3>
      <div class="ui cards">
        {{#each courses}}
          <div class="ui raised centered card animation" data-animation="fade up" data-animation-duration="{{multiply 0.5 @index 1}}s" data-animation-trigger="top">
            <div class="image">
              <img src="/uploads/{{image}}">
            </div>
            <div class="content">
              <a href="/courses/{{_id}}" class="header"> {{name}} </a>
              <div class="meta">
                <span class="date"><i class="calendar icon"></i> {{moment date 'DD/MM/YYYY'}}</span>
              </div>
              <div class="description">
                {{#ifCond description.length '>' 100}}
                  {{substring description 0 100}}
                {{else}}
                  {{description}}
                {{/ifCond}}
              </div>
            </div>
            <div class="extra content">
              <a href="/courses/{{_id}}" class="ui blue fluid button">
                Reservar
              </a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="ui vertical stripe container">
    <h3 class="ui horizontal header divider">
      Fale Conosco
    </h3>
    {{> contactForm}}
  </div>
</div>
