<div class="ui container raised segment">
  <div class="ui huge center aligned header">Editar Curso </div>
  <form action="/admin/courses/{{course._id}}?_method=PUT" class="ui form" method="POST" enctype="multipart/form-data">
    <div class="ui small margin bottom blue label">
      ID: {{course._id}}
    </div>
    <div class="two fields">
      <div class="field">
        <label for="course[name]">Nome</label>
        <input name="course[name]" type="text" placeholder="Nome" value="{{course.name}}">
      </div>
      <div class="field">
        <label for="course[address]">Endereço</label>
        <input name="course[address]" type="text" placeholder="Rua Olinto Meireles, 65, Barreiro - Belo Horizonte, MG" value="{{course.address}}">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label for="course[date]">Data e Horário</label>
        <div class="ui calendar" id="dateCalendar">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input readonly name="course[date]" type="text" placeholder="" data-mask="00/00/0000 00:00" value="{{moment course.date 'DD/MM/YYYY HH:mm'}}">
          </div>
        </div>
      </div>
      <div class="field">
        <label for="course[duration]">Duração</label>
        <input name="course[duration]" type="text" placeholder="Ex: 6 horas e 30 minutos" value="{{course.duration}}">
      </div>
      <div class="field">
        <label for="course[price]">Preço</label>
        <div class="ui labeled input">
          <div class="ui label">
            R$
          </div>
          <input name="course[price]" type="text" placeholder="Ex: 60,52" value="{{formatCurrency course.price false}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label for="course[description]">Descrição</label>
      <textarea name="course[description]">{{course.description}}</textarea>
    </div>
    <div class="field">
      <label for="course[formLink]">Link do Formulário</label>
      <input name="course[formLink]" type="text" placeholder="Ex: https://goo.gl/forms/WGtqyPgs0mas8gNt2" value="{{course.formLink}}">
    </div>
    <div class="field">
      <label for="imageFile">Imagem</label>
      <div class="ui center aligned small margin bottom container">
        <img class="ui small centered image" src="/uploads/{{course.image}}">
        <h5 class="ui header">Selecione uma nova imagem para substituir a anterior</h5>
      </div>
      <input type="file" name="imageFile" accept=".png, .jpg, .jpeg">
    </div>
    <div class="right aligned field">
      <div class="ui right aligned container">
        <a href="/admin/courses" class="ui basic button"> <i class="left arrow icon"></i> Voltar </a>
        <input type="submit" class="ui positive button" value="Salvar Alterações">
      </div>
    </div>
  </form>
</div>

{{#section 'script'}}
  <script type="application/javascript">
      $(document).ready(function() {
        var today = new Date();
        $('#dateCalendar').calendar({
          ampm: false,
          initialDate: null,
          minDate: today,
          text: {
            days: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'May', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            today: 'Hoje',
            now: 'Agora',
            am: 'AM',
            pm: 'PM'
          },
          formatter: {
            date: function (date, settings) {
              if (!date) return '';
              var day = ('0' + date.getDate()).slice(-2);
              var month = ('0' + (date.getMonth() + 1)).slice(-2);
              var year = date.getFullYear();
              return day + '/' + month + '/' + year;
            }
          }
        });
      });

      $('.ui.form')
        .form({
          inline : true,
          on     : 'blur',
          fields : {
            name: {
              identifier: 'course[name]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira um nome para o curso'
                }
              ]
            },
            address: {
              identifier: 'course[address]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira um endereço'
                }
              ]
            },
            price: {
              identifier: 'course[price]',
              rules: [
                {
                  type: 'empty',
                  prompt: 'Por favor, insira um preço'
                },
                {
                  type: 'regExp[/(^[0-9]+$|^[0-9]+[,.]{1}[0-9]{1,2}$)/]',
                  prompt: 'Este preço não é válido'
                }
              ]
            },
            date: {
              identifier: 'course[date]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira uma data'
                }
              ]
            },
            duration: {
              identifier: 'course[duration]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira uma duração'
                }
              ]
            },
            description: {
              identifier: 'course[description]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira uma descrição'
                }
              ]
            },
            formLink: {
              identifier: 'course[formLink]',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Por favor, insira um link para o formulário de confirmação'
                }
              ]
            }
          }
        })
      ;
  </script>
{{/section}}
