<div class="ui text container">
	<table class="ui very basic celled table">
		<thead>
			<tr>
				<th>
					<div class="ui blue ribbon label">Campo</div>
					</a>
				</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Id</td>
				<td>{{course._id}}</td>
			</tr>
			<tr>
				<td>Nome</td>
				<td>{{course.name}}</td>
			</tr>
			<tr>
				<td>Endereço</td>
				<td>{{course.address}}</td>
			</tr>
			<tr>
				<td>Data e Horário</td>
				<td>{{moment course.date 'DD/MM/YYYY, HH:mm'}}</td>
			</tr>
			<tr>
				<td>Duração</td>
				<td>{{course.duration}}</td>
			</tr>
			<tr>
				<td>Preço</td>
				<td>{{formatCurrency course.price}}</td>
			</tr>
			<tr>
				<td>Descrição</td>
				<td>{{course.description}}</td>
			</tr>
			<tr>
				<td>Imagem</td>
				<td><img class="ui spaced medium image" src="/uploads/{{course.image}}"></td>
			</tr>
		</tbody>
	</table>
	<div class="ui center aligned container">
		<form action="/admin/courses/{{course._id}}?_method=DELETE" method="POST" class="ui delete form">
			<a href="/admin/courses" class="ui basic button"> <i class="left arrow icon"></i>Voltar </a>
			<input type="submit" class="ui red deleteCourse button" value="Deletar"/>
			<a href="/admin/courses/{{course._id}}/edit" class="ui blue button"> Editar </a>
		</form>
	</div>
</div>

<div id="deleteModal" class="ui basic modal">
  <div class="ui icon header">
    <i class="close icon"></i>
    Deletar Curso
  </div>
  <div class="content">
    <p>O curso será completamente deletado e não poderá ser recuperado. Você tem certeza que deseja deletar esse curso?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Não
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Sim
    </div>
  </div>
</div>

{{#section 'script'}}
  <script type="application/javascript">
		$('.ui.deleteCourse').on('click', function(e){
			e.preventDefault();
			var $form=$(this).parents(".form.delete");
			$('#deleteModal').modal({
				closable  : false,
				onDeny    : function(){

				},
				onApprove : function() {
					$form.submit();
				}
			})
			.modal('show');
		});
  </script>
{{/section}}
